

<h1>Contribua para um Mundo Mais Sustentável!</h1>
<p>Você sabia que milhões de aparelhos eletrônicos são descartados de forma inadequada todos os anos? O lixo eletrônico é um dos maiores vilões do nosso meio ambiente, mas você pode ajudar a mudar essa realidade!</p>

<p>Ao descartar corretamente seus aparelhos antigos, você contribui para a redução da poluição, preserva recursos naturais e apoia a reciclagem de materiais valiosos. A Coleta de Lixo Eletrônico é a sua chance de fazer a diferença e ajudar a criar um futuro mais limpo e sustentável para todos.</p>

<h2>Como Funciona?</h2>
<p>Nosso sistema é simples e eficaz. Basta fazer a doação dos seus dispositivos antigos e levá-los a um dos nossos pontos de coleta. Nós cuidamos de todo o processo de descarte adequado, garantindo que o lixo eletrônico não prejudique o meio ambiente.</p>

<h2>Junte-se a Nós!</h2>
<p>Faça sua parte, entre nessa campanha e nos ajude a dar um destino correto aos resíduos eletrônicos. Seja um agente de transformação ambiental, e incentive amigos e familiares a fazerem o mesmo!</p>
